# Vercel Tokens - NO COMMIT ESTE ARCHIVO
# Copia a .vercel-tokens.env y agrega tus tokens reales
# Agregar .vercel-tokens.env al .gitignore

VERCEL_API_TOKEN=vck_6vCzQIEaY91ookaipVZdp3ZEl8NlpaA5tabMJQhGLHOGGhehrF1HHRPW
VERCEL_ACCESS_TOKEN=rTbbeIXzN70ZvXbG6L9Avj5d

